:root {
  --default-button-color: #fff;
  --login-button-color: blue;
  --export-all-icon-color: purple;
  --export-current-icon-color: #ede682;
  --add-sample-record-icon-color: #febf63;
  --getdata-button-color: #ade498;

  --default-border-radius: 25px;
  --login-button-border-radius: 10px;
}
